/* Add this to the Tailwind setup */
/* body {
  background-color: rgb(246, 248, 250);
} */
.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
/*  */
.btn {
  padding: 0.5rem 1rem;
  background-color: #4a5568;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2d3748;
}
.MuiInputBase-colorSecondary {
  border-radius: 12px !important;
}
::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #9c27b0;
}

.AddButton {
  font-weight: 500;
  min-width: 64px;
  padding: 12px 24px;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  color: rgb(240, 240, 240);
  right: 16vw;
}
